.Rproj.user
.Rhistory
.RData
.Ruserdata
hdds.doc
ttest_pov_gap.doc
ttest_poor.doc
ttest_foodexp.doc
ttest_food_insecurity.doc
ttest.doc
mlogit_isfmca.txt
mlogit_isfm.txt
food_expenditure.doc
food_insecurity.doc
poor.doc
pov_severity.doc
pov_gap.doc
*.xml
*.tiff
*.stswp
*.doc
*.png